.repositoriesItem {
    display: flex;
    flex-direction: column;
}

.repositoriesItem h3{
    color: #539BF5;
    font-size: 1.9rem;
    text-transform: capitalize;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.repositoriesItem p{
    font-size: 1.7rem;
    margin-top: 0.3rem;
    margin-bottom: .9rem;
    text-transform: capitalize;
}

.repositoriesItem hr{
    margin-bottom: 3rem;
}