.content{
    display: flex;
    justify-content: space-between;
}

.background-image{
   height: 87vh;
}

.Informations{
    align-items: center;
    width: 100%;
    margin-right: 3.6rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
    margin-top: 7rem;
}

.user{
    width: 25rem;
    font-size: 1.5rem;
    background: transparent;
    border-radius: 3rem;
    border: 2px solid #2D333B;
    padding: 10px;
    margin: 1rem;
    color: #fff;
}

.user:hover{
    border-color: #8a99ab;
}

.search{
    text-align: center;
    font-size: 0.75rem;
    line-height: normal;
    background-color: #2D333B;
    padding: .75rem 1rem;
    border-radius: 3rem;
    border: 1px solid #2D333B;
    width: 9rem;
    font-size: 1.5rem;
}

.search:hover{
    border-color: #8a99ab;
    cursor: pointer;
}

.profile{
    
    margin-top: 1.5rem;
    display: flex;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    width: 38.75rem;
    margin-bottom: 1.35rem;
}

.profile-img{
    width: 7rem;
    height: 7rem;
    border-radius: 4rem;
    border: 1px solid #E5E5E5;
}

.profile-datas{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: .5rem;
    margin: .2rem;
}

.profile-datas h3{
    font-size: 3rem;
    padding: .5rem;
}

.profile-datas span{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.profile-datas p{
    font-size: 1rem;
}

.repositories{
    width: 38.75rem;
    padding: 1.5rem 0 0 0;
}

.repositories h2{
    margin-bottom:  2rem;
}

@media screen and (max-width:1063px) {
    .content{
        flex-direction: column-reverse;
    }

    .content img{
        max-width: 400px;
    }

    .Informations{
        margin: 0 auto;
    }
}

@media screen and (max-width:1136px) {
    .search-user{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

    .profile{
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
        max-width: 18rem;
        margin: 0 auto;
    }

    hr{
        max-width: 18rem;
        margin: 0 auto;
    }

    .repositories{
        max-width: 18rem;
        margin: 0 auto;
    }

    .user{
        max-width: 18rem;
    }

    .search-user{
        margin: 0 auto;
        padding: 2.5rem 0;
    }
}