header{
    background-color: #2D333B;
}

h1{
    color: #FFF;
    font-family: cursive;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding: 1rem 0;
}

h1:hover{
    color: #8a99ab;
    cursor: pointer;
}